.goal-box {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;  /* bu ve overflow tam dolduran kare olmasını sağlıyor*/
}
.goal-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px; 
}